@import "@assets/scss/global";

.input-text-field {
    .input-group {
        border: 1px solid #E8ECEE;
        border-radius: 10px;
        position: relative;
        overflow: hidden;

        &:focus-within {
            border-color: $secondary-color;
        }

        div {
            position: relative;
            height: 54px;
            width: 100%;

            input {
                position: absolute;
                box-sizing: border-box;
                border: 0;
                left: 0;
                right: 0;
                padding: 16px;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                color: #202226;

                &.is-password {
                    right: 20px;
                }

                &:focus {
                    bottom: -10px;

                    &~.label {
                        top: 30%;
                        color: $secondary-color;

                        &::placeholder {
                            display: none;
                        }
                    }
                }

                &.has-data-input {
                    bottom: -10px;
                }

                &:-webkit-autofill {
                    transition: background-color 999999999999s ease-in-out 0s;
                }
            }

            .label {
                position: absolute;
                pointer-events: none;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                padding-left: 16px;
                font-size: 12px;
                transition: all .2s ease-in-out;

                &.has-data {
                    color: $secondary-color;
                    top: 30%;
                    visibility: visible;
                }
            }
        }

        input[type=password]::-ms-reveal {
            display: none;
        }

        &.has-icon-left {
            padding-left: 28px;
        }

        &.has-icon-right {
            padding-right: 28px;
        }

        &::placeholder {
            color: #8E91A0;
        }
    }

    .icon-left {
        position: absolute;
        top: 9px;
        left: 4px;
        width: 20px;
    }

    .icon-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 8px;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }

    &.error {
        .input-group {
            border-color: #F54135;
        }

        .feedback {
            color: #f33060;
            font-size: 10px;
            line-height: 18px;
            margin-left: 15px;
        }
    }
}