html {
    font-family: $font-family;
}

body {
    margin: 0;
}

.container {
    max-width: 1280px;
    width: 100% !important;
    padding: 1rem;
    margin: 0 auto;
    box-sizing: border-box;

    @include largeScreen {
        padding: 3rem;
        margin: 0 auto;
    }
}

button {
    cursor: pointer;
}

input, button {
    font-family: $font-family;
}

p{
    margin: 0;
}