html {
    font-family: $font-family;
}

body {
    margin: 0;
}

.container {
    max-width: 1280px;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;

    @include largeScreen {
        padding: 0;
        margin: 0;
    }
}

button {
    cursor: pointer;
}

input, button {
    font-family: $font-family;
}