html {
    font-family: $font-family;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

input, button {
    font-family: $font-family;
    outline: none;
}

p, h2, h3 {
    margin: 0;
}

.container {
    max-width: 1280px;
    width: 100% !important;
    padding: 1.5rem;
    margin: 0 auto;
    box-sizing: border-box;

    @include largeScreen {
        padding: 1rem 3rem;
    }
}


