@keyframes slideRightOpen {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideTopOpen {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateX(0);
    }
}