$sm-padding: 0.75rem;
$md-padding: 1.5rem;
$lg-padding: 2.25rem;

$sm-space: 0.75rem;
$md-space: 1.25rem;
$lg-space: 1.75rem;

//color

$primary-color: #ED3902;
$primary-color2: #F76E48;
$secondary-color: #7C68EE;
$grey: #757688;


//media screen
$large-screen: 1280px;
$medium-screen: 992px;
$small-screen: 576px;