@import "../../../assets/scss/global";

.dropdown-profile-mobile-wrapper {

    .profile-dropdown {
        width: 263px;

        button{
            width: 100%;
        }
    }

    .item{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

    }
}