@import "../../../assets/scss/global";

.header {
    position: relative;
    width: 100%;

    .fixed-header {
        display: flex;
        width: 100%;
        height: 64px;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;

        @include largeScreen {
            height: 90px;
        }
    }

    &[data-scroll='scroll-out'] {
        margin-bottom: 64px;
        @include largeScreen{
            margin-bottom: 90px;
        }
        .fixed-header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
            background-color: white;
            border-bottom: 1px solid #B8B8CC;
            box-shadow: 0 4px 54px rgba(0, 0, 0, 0.1);
        }
    }

    .nav-item {
        padding: $sm-padding;
        cursor: pointer;
    }

    .left-side {
        display: flex;
        align-items: center;

        svg {
            margin-right: 40px;
        }
    }

    .right-side {
        display: flex;
        align-items: center;
        column-gap: $sm-space;

        .language-gr {
            display: flex;
            align-items: center;
            cursor: pointer;

            svg {
                margin-left: 5px;
            }
        }

        .btn-login {
        }

        .btn-trial {
        }
    }
}