@import "../../assets/scss/global";

.outstanding-feature-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    background: url("/images/home/outstanding-feature/bg-feature.png") no-repeat left 33vw bottom 30%;

    [class="container"] {
        display: flex;
        width: 100%;
    }

    h3 {
        font-size: 16px;
        text-transform: initial;
        color: $secondary-color;

        @include largeScreen {
            font-size: 24px;
            text-transform: uppercase;
        }
    }

    h2 {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        width: 78%;
        font-weight: 600;

        @include largeScreen {
            font-size: 40px;
            line-height: 60px;
            font-weight: 700;
        }
    }


    [class~="slider-control-topleft"] {
        margin-top: -20px;
        padding-left: 1.5rem;
    }

    [class~="slider-frame"] {
        width: 100vw !important;
    }

    .dot-wrapper {
        display: flex;
        column-gap: 5px;

        .dot-item {
            height: 8px;
            width: 8px;
            background: red;
            border-radius: 100%;
            box-sizing: border-box;
        }

        .active {
            width: 40px;
            border-radius: 4px;
        }
    }

    .feature-tabs {
        display: flex;
        width: 100%;
        margin-top: 40px;

        @include largeScreen {
            margin-top: initial;
        }

        .item {
            position: relative;
            display: flex;
            background: transparent;
            border: 0;
            height: 68px;
            align-items: center;
            font-size: 20px;
            line-height: 24px;
            margin: 20px 0;
            font-weight: 600;

            @include largeScreen {
                margin: initial;
                font-weight: initial;
            }

            div {
                margin-right: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 68px;
                width: 68px;
                box-shadow: 8px 8px 20px rgba(248, 76, 38, 0.21);
                background: #FFFFFF;
                border-radius: 16px;

                @include largeScreen {
                    background: initial;
                    box-shadow: initial;
                    border-radius: initial;
                }

                svg {
                    background: #FFFFFF;
                    border-radius: 16px;
                }
            }
        }


        .tabs {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            column-gap: 6%;
            @include largeScreen {
                height: 750px;
                flex-direction: row;
            }

            .tab-items {
                display: flex;
                row-gap: 30px;
                width: 100%;
                flex-direction: row;
                overflow-x: auto;
                border-right: 4px solid #F7F8FC;

                @include largeScreen {
                    width: 25%;
                    overflow-x: initial;
                    flex-direction: column;
                }

                .active {
                    font-weight: 600;

                    &::after {
                        content: "";
                        position: absolute;
                        right: -4px;
                        width: 4px;
                        height: 46px;
                        background-color: red;
                    }

                    div {
                        background: #FFFFFF;
                        box-shadow: 8px 8px 20px rgba(248, 76, 38, 0.21);
                        border-radius: 16px;
                    }
                }

            }

            .tab-content {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: flex-end;
                @include largeScreen {
                    width: 80%;
                }

                img {
                    height: auto;
                    width: 100%;
                }

                .content-wrapper {
                    position: relative;
                    display: initial;
                    @include largeScreen {
                        display: none;

                    }

                    img {
                        height: auto;
                        width: 100%;
                    }

                    .description-group {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 80px;
                        padding: 12px 16px;
                        box-sizing: border-box;
                        background: #FFFFFF;
                        box-shadow: 21px 21px 59px rgba(248, 76, 38, 0.1);
                        border-radius: 24px;
                        font-size: 16px;
                        width: 100%;
                        margin-bottom: 20px;
                        @include largeScreen {
                            width: 268px;
                            margin: initial;
                        }

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 56px;
                            height: 56px;
                            box-sizing: border-box;
                            background: #ED3902;
                            border: 1px solid rgba(255, 255, 255, 0.25);
                            box-shadow: 8px 8px 24px rgba(248, 76, 38, 0.2);
                            border-radius: 16px;
                            margin-right: 16px;

                            @include largeScreen {
                                width: 56px;
                                margin-right: 16px;
                            }

                            p {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 30px;
                                height: 30px;
                                border-radius: 100%;
                                background-color: white;
                            }
                        }

                        .description {
                            width: 70%;
                        }
                    }
                }

                .active {
                    display: flex;
                }

                .number1 {
                    @include largeScreen {
                        top: -65px;
                        left: 50%;
                        transform: translateX(-50%);
                        position: absolute;
                    }
                }

                .number2 {
                    @include largeScreen {
                        top: 50%;
                        left: -30px;
                        transform: translateY(-50%);
                        position: absolute;
                    }

                }

                .number3 {
                    @include largeScreen {
                        transform: translateX(-50%);
                        bottom: 0;
                        left: 50%;
                        position: absolute;
                    }
                }

                .number4 {
                    @include largeScreen {
                        right: -30px;
                        transform: translateY(-50%);
                        top: 50%;
                        position: absolute;
                    }
                }

                .number5 {
                    @include largeScreen {
                        top: -30px;
                        left: 15%;
                        position: absolute;
                    }
                }

                .number6 {
                    @include largeScreen {
                        left: -30px;
                        top: 30%;
                        position: absolute;
                    }
                }

                .number7 {
                    @include largeScreen {
                        bottom: 30px;
                        left: 15%;
                        position: absolute;
                    }
                }

                .number8 {
                    @include largeScreen {
                        bottom: 15px;
                        right: 5%;
                        position: absolute;
                    }
                }

                .number9 {
                    @include largeScreen {
                        position: absolute;
                        right: -30px;
                        top: 20%;
                    }
                }

                .number10 {
                    @include largeScreen {
                        top: -30px;
                        left: 10%;
                        position: absolute;
                    }
                }

                .number11 {
                    @include largeScreen {
                        left: -30px;
                        bottom: 25%;
                        position: absolute;
                    }
                }

                .number12 {
                    @include largeScreen {
                        bottom: 25px;
                        right: 10%;
                        position: absolute;
                    }
                }

                .number13 {
                    @include largeScreen {
                        position: absolute;
                        right: -30px;
                        top: 0;
                    }
                }

                .number14 {
                    @include largeScreen {
                        top: -30px;
                        left: 10%;
                        position: absolute;
                    }
                }

                .number15 {
                    @include largeScreen {
                        left: -30px;
                        bottom: 40%;
                        position: absolute;
                    }
                }

                .number16 {
                    @include largeScreen {
                        bottom: -30px;
                        left: 15%;
                        position: absolute;
                    }
                }

                .number17 {
                    @include largeScreen {
                        position: absolute;
                        right: -30px;
                        bottom: -30px;
                    }
                }

                .number18 {
                    @include largeScreen {
                        position: absolute;
                        right: -30px;
                        top: -30px;
                    }
                }

                .number19 {
                    @include largeScreen {
                        top: -30px;
                        left: 10%;
                        position: absolute;
                    }
                }

                .number20 {
                    @include largeScreen {
                        left: -30px;
                        bottom: 50%;
                        position: absolute;
                    }
                }

                .number21 {
                    @include largeScreen {
                        bottom: 0;
                        left: 10%;
                        position: absolute;
                    }
                }

                .number22 {
                    @include largeScreen {
                        position: absolute;
                        right: 15%;
                        bottom: 0;
                    }
                }

                .number23 {
                    @include largeScreen {
                        position: absolute;
                        right: -30px;
                        top: 45%;
                    }
                }

                .number24 {
                    @include largeScreen {
                        position: absolute;
                        right: 15%;
                        top: -30px;
                    }
                }
            }
        }
    }
}