@import "../../../assets/scss/global";

.base-dropdown-menu-wrapper {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50px;
    padding: 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    animation: slideRightOpen .5s both;

    p {
        color: #757688;
        font-size: 13px;
    }

    .main-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 12px;
        height: 100%;
        width: 100%;
    }
}