@import "../../../assets/scss/global";

.button {
    padding: $sm-padding $md-padding;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
}

.outline {
    background-color: transparent;
}

.primary {
    background-color: $primary-color;
    color: white;
    border: 1px solid $primary-color;
}