@import "../../../assets/scss/global";

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $sm-padding $md-padding;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 600;
    cursor: initial;

    svg {
        margin-right: 7px;
    }

    &:hover {
        background: linear-gradient(88.16deg, #F79945 1.56%, #F84C26 97.89%);
        box-shadow: 0 12px 20px rgba(248, 76, 38, 0.15);
        color: white;
        border: 1px solid transparent;
    }

    @include largeScreen {
        cursor: pointer;
    }
}

.outline {
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
}

.primary {
    background-color: $primary-color;
    color: white;
    border: 1px solid $primary-color;
}